{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "no-console": 0,
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "global-require": "off",
    "no-nested-ternary": "off"
  }
}